.left, .right {
  margin: auto;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.img {
  width: 50%;
}


.button {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (min-width: 1200px) {
  .img {
    width: 30%;
  }
}