.root {
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  color: white;
}

.subheader{
  margin: 20px auto;
  color: black;
  text-align: center;
  font-family: 'Poppins';
}

.others{
  width: 100%;
  text-align: center;
  color: black;
}