.dropdown {
  display: none;
}


.dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  left: auto;
  box-shadow: 5px 15px 5px -3px rgba(35, 4, 66, 0.08),
  5px 15px 5px -3px rgba(111, 34, 188, 0.731);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 50%;
  list-style: none;
  display: none;
  background-color: rgb(26, 26, 26);
}

.dropdown.show {
  display: block;
}

.dropdown .dropdownSubmenu {
  position: absolute;
  left: 100%;
  top: -7px;
}