article{
  color: #000;
  min-height: 90px;
}

.highlight{
  width: 100%;
  background-color: rgb(172, 209, 253);
}
.article >*, .highlight >* {
  font-family: 'Poppins';
  text-align: center;
  font-size: 26px;
  text-align:justify;
}

.article, .highlight {
  padding-bottom: 50px;
}

.article {
  margin: 0 7%;
  background-color: white;
}

.h1 {
  font-size: 60px;
  text-shadow: 2px 4px rgba(255, 0, 0, 0.1);
  line-height: 90px;
  font-family: 'Poppins';
  font-weight: 800;
  text-align:center;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url('https://images.pexels.com/photos/1194420/pexels-photo-1194420.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  color: transparent; 
  background-size: contain;
}