.root{
  min-width: 180px;
  height: 300px;
  /* background-image: url('https://images.pexels.com/photos/1191710/pexels-photo-1191710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-color: #027dbf;
  background-size: contain;
  margin: 10px 0;
  padding: 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 32%;
  border-radius: 10px;
  box-shadow: 2px 4px 2px rgb(107, 91, 91);

}

.name {
  text-align: center;
  font-family: 'Orbitron';
}

.role, .email {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 100;
}

.email {
  font-size: 12px;
}


.imgParent {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.img {
  width: 100%;
}