strong {
    font-weight: 900;
}


.formSection{
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.58);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.imgParent {

    padding-top: 40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 50%;
    margin: auto;
}


@media (min-width: 1000px) {
    p{  
        margin:auto;
        width:60%;
        line-height: 40px;
        font-size: 35px;
    }
    .formSection{
        width: 54%;
        margin: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .imgParent{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .img {
        width: 100%;
    }
    

    .formParent{
        width: 60%;
    }
}