strong {
    font-weight: 900;
}
.article {
    padding-bottom: 50px;
}

.article >* {
    font-family: 'Poppins';
    color: #000;
    text-align: center;
    padding-bottom: 40px;
}

.h1 {
    font-size: 60px;
    font-weight: 400;
}

.formSection{
    min-height: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgParent {
    padding-top: 40px;
    width: 80%;
}

.img {
    width: 100%;
}


@media (min-width: 1000px) {
    p{  
        margin:auto;
        width:60%;
        line-height: 40px;
        font-size: 35px;
    }
    .formSection{
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    .imgParent{
        width: 50%;
    }

    .formParent{
        padding-left: 30px;
        width: 40%;
    }
}