strong {
    font-weight: 900;
}


.imgParent {

    padding-top: 40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 50%;
    margin: auto;
}

.eventCard {
    width: 100%;
    
    min-height: 100px;
    position: relative;
    outline: 1px solid pink;
}

.eventCardImage{
    width: 100%;
}
.eventInfo{
    position: relative;
    width: fit-content;
}
.eventCardButton{
    opacity: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.306);
}
.eventCardButton:hover{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px) {
    p{  
        margin:auto;
        width:60%;
        line-height: 40px;
        font-size: 35px;
    }
    .formSection{
        width: 60%;
        margin: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .imgParent{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .img {
        width: 100%;
    }
    
    .eventCard {
        width: 60%;
        margin: auto;
        min-height: 100px;
        /* outline: 1px solid blue; */
        position: static;
        display: flex;
        align-items: center;
    }
    .eventCardImage{
        width: 80%;
    }
    .eventCardButton{
        position:static;
        min-width: 200px;
        border-radius: 25px;
        /* left: 0; */
        transform: none;
    }

    .formParent{
        width: 60%;
    }
}