.dark, .light {
    margin: auto;
    height: fit-content;
    border-radius: 35px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 25px;
    max-width: fit-content;
}

.dark {
    padding: 15px 30px;
    background-color: black;

}

.light {
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
}