.dark, .light, .lightOnLight, .darkSm{
    margin: auto;
    height: fit-content;
    border-radius: 35px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 25px;
    max-width: fit-content;
    z-index: 5;
}

.darkSm{
  font-size: 15px;
}

.dark {
    padding: 15px 30px;
    background-color: black;
    color: white;
}
.lightOnLight {
    color: black;
    border: 2px solid rgba(139, 134, 134, 0);
    padding: 3px 15px;
    font-size: 18px;
}

.light{
    padding: 10px 30px;
    color: rgb(243, 243, 243);
    border: 1px solid rgb(244, 243, 243);
    border: 2px solid white;
    
}

.light, .lightOnLight {
    background-color: transparent;
}

.dark:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.light:hover, .lightOnLight:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

