.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form >* {
    margin-top: 30px;
}
.button {
    margin: 20px auto;
    height: fit-content;
    border-radius: 35px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 25px;
    max-width: fit-content;
    padding: 15px 30px;
    background-color: black;
    align-self: center;
}