.root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.link{
  color: black;
}

@media (min-width: 1100px) {
  .root{
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 1500px) {
  .root{
    flex-direction: row;
    gap: 50px;
  }
}