.root {
    width: 100%;
    background-color:  rgba(255, 255, 255, 0.58);
    display: flex;
    flex-wrap: wrap;
}

.donatepp {
    /* background-color: transparent; */
    margin-bottom: 10px;
    border-radius: 20px;
}

.shoutout {
    font-size: 80px;
    font-family: 'Lato';
    font-weight: 900;
    color: black;
    line-height: 70px;
    text-align: center;
    width: 70%;
    margin: auto;
}

.left, .right {
    margin: auto;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.right {
    margin-bottom: 40px
}

.more {
    width: 60%;
    margin: auto;
    color: black;
    font-family: 'Poppins';
    display: none;
}

.img {
    width: 50%;
}

.imgpp{
    width: 30%;
}

.ppform {
    display: flex;
    justify-content: space-around;
}

.button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1 {
    font-size: 60px;

}
.h3 {
    font-size: 30px;

}

.h1, .h3 {
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center;
}

.p{
    color: black;
    width: 80%;
    font-family: "Poppins";
    text-align: justify;
    padding-top: 50px;
}

@media (min-width: 1000px) {
    .img {
        width: 50%;
    }
}