.root{
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0;
}

.input, .areaInput {
    width: 100%;
    padding-left: 40px;
    font-family: 'Poppins';
    font-weight: 200;
    color: black;
    min-height: 35px;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 20px;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 20px;
    background-color: transparent;
}

.buttonParent{
    margin:auto;
}

.areaInput {

    height: 200px;
}



@media (min-width: 1000px) {
    .root{
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
}