.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
}

.inputWrapper {
  width: 100%;
  margin-bottom: calc(0.9rem + 11px);
}

.input,
.areaInput,
.select {
  padding: 0 40px;
  font-family: 'Poppins';
  font-weight: 200;
  color: black;
  min-height: 35px;
  line-height: 25px;
  font-size: 20px;
  border: 1px solid rgb(45, 45, 45);
  border-radius: 20px;
  background-color: transparent;
  width: 100%;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.error {
  margin-bottom: 0;
}

.error > * {
  border: 1px solid red;
}

.error > *:focus-visible {
  outline-color: red;
}

.error::after {
  content: 'This field is required';
  display: flex;
  justify-content: flex-start;
  height: calc(0.9rem + 10px);
  color: red;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding-left: 20px;
  padding-top: 1px;
}

.invalidEmail::after {
  content: 'Please enter a valid email';
}

.buttonParent {
  margin: auto;
}

.areaInput {
  padding-top: 10px;
  height: 200px;
  resize: none;
}
.newsletter {
  width: 80%;
  text-align: center;
  margin: auto;
}

.label {
  color: black;
  display: inline;
  font-family: 'Poppins';
  font-size: 10px;
}

.checkbox {
  display: inline;
}

@media (min-width: 1000px) {
  .root {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
}
