:root {
    --navbar-color: rgba(255, 255, 255, 0.829);
    --shouting-font: 'Orbitron', sans-serif;
    --main-font: 'Poppins', sans-serif;
}

.wrapper{
  position: relative;
  background-color: black;
  width: 80%;
  /* outline: 1px solid teal; */
  display: flex;
  justify-content: space-between;
}


.expandDown{
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  flex-direction: column;
  /* outline: 1px solid blue; */
}

.menus {
  /* outline: 1px solid pink; */
  width: 100%;
  z-index: 10;
  display: flex;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.root {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  flex-wrap: nowrap;
  opacity: 1;
  width: 100%;
}

.menuTop{
  outline: 1px solid yellow;
  text-decoration: none;
  list-style: none;
  width: max-content;
  display: flex;
  font-family: var(--main-font);
}