:root {
    --navbar-color: rgba(255, 255, 255, 0.829);
    --shouting-font: 'Orbitron', sans-serif;
    --main-font: 'Poppins', sans-serif;
}

.wrapper{
  position: relative;
  background-color: black;
  width: 80%;
}

.root {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  flex-wrap: nowrap;
  opacity: 1;
  width: 100%;
  outline: 1px solid teal;
}

.menuTop{
  outline: 1px solid yellow;
  text-decoration: none;
  list-style: none;
  width: max-content;
  display: flex;
  font-family: var(--main-font);
}