:root {
    --navbar-color: rgba(255, 255, 255, 0.829);
    --shouting-font: 'Orbitron', sans-serif;
    --main-font: 'Poppins', sans-serif;
}

.root {

    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    /* height: 80px; */
    /* background-color:var(--navbar-color); */
    opacity: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0);
    color:white;
    z-index: 1;
    text-align: center;
    right: -100%;
    transition: right 1s;
    width: 100vw;
}
.span {
    color: black;
    width: auto;
    display:block;
    font-family: 'Poppins';
    line-height: 42px;
    font-size: 30px;
    font-weight:900;
    white-space: pre;
}

.navlink {
    font-family: 'Poppins';
    color: white;
    padding-top: 20px;
    width: 100%;
}

.navlink:visited{
    color: white;
}

.logo{
    height: 80px;
}

.hamburger {
    position: absolute;
    z-index: 10;
    right: 50px;
}

@media (max-width:500px) {
    .span {
        font-size: 23px;     
    }
    .hamburger {
        right: 20px;
    }
}


@media (min-width:1200px) {
    .root {
        justify-content: space-around;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1;
        text-align: center;
        right: 0;
        white-space: pre;
    }

    .navlink{
        font-size: 25px;
        color: black;
        width: max-content;
    }
    .navlink:visited{
        color: black;
    }

    .hamburger {
        display: none;
    }
}