:root {
    --navbar-color: rgba(255, 255, 255, 0.829);
    --shouting-font: 'Orbitron', sans-serif;
    --main-font: 'Poppins', sans-serif;
}

.root {

    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    /* height: 80px; */
    background-color:var(--navbar-color);
    opacity: 1;
}

.logo{
    height: 80px;
}

.hamburger {

}