.header {
  /* height: 100px; */
  display: flex;
  align-items: end;
  padding: 10px 0;
  background-color: rgb(80, 99, 182);
  /* background-image: url('../../assets/pridebackgroundlong.jpg'); */
  background-size: cover;
}

.sample{
  display: block;
  padding: 10px;
}

.logo {
  display: block;
  height: 70px;
  text-decoration: none;
  font-size: 25px;
  color: inherit;
}

.navArea{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 0 auto;
}