:root {
    --shouting-font: 'Orbitron', sans-serif;
    --main-font: 'Poppins', sans-serif;
    --navbar-color: rgba(255, 255, 255, 0.90);
    --background-color: white;
}

.root {
    background-color: black;
    width: 100%;
    position: relative;
    color: var(--navbar-color); 

}
.section{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 500px;
    position: relative;
    color: var(--navbar-color);  
}

.section::before {
    z-index: 0;
    content: "";
    background-image: url('../../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.shoutout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date, .start, .place {
    font-family: 'Orbitron';
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
    color: var(--navbar-color);
    position: relative;
    line-height: 0.9;
    text-align: center;
}

.date {
    letter-spacing: 0.1em;
    font-size: 100px;
    font-weight: 900;
    /* background-image: url('https://images.pexels.com/photos/1191710/pexels-photo-1191710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-image: url('https://images.pexels.com/photos/1212407/pexels-photo-1212407.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: contain;
    /* background: -webkit-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h1 {
    width: 70%;
    font-size: 40px;
    font-weight: 400;
    color: var(--navbar-color);
    text-align: center;
    font-family: 'Poppins';
    font-weight: 900;
}

.button {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arr {
    width: 30px;
}

.arrParent {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @media (min-width: ) */

@media (min-width: 800px) {
    .h1 {
        width: 90%;
        font-size: 60px;
    }
    .start, .place {
        font-size: 50px;
    }
}