#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-linear-gradient(124deg, #fd8270, #d63232, #ddb83d, #e5e83b, #53e16b, #68dfe5, #5e54e0, #de4eec, #e03def);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 60s ease infinite;
  -z-animation: rainbow 60s ease infinite;
  -o-animation: rainbow 60s ease infinite;
    animation: rainbow 60s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
/* 
@media (max-width: 1000px) {
  #root {
    background-color: #A76BB6;
  }
}  */