#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  
  /* background: -webkit-linear-gradient(124deg, #f5bfb7, #e3f4a0, #f4d87e, #f4f671, #99f7a9, #9beef3, #8c85ef, #ea78f5, #eb9ff1); */
}