.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav {
    display:flex;
    flex-direction: column;
}

.root{
    border-top: 1px solid rgb(205, 205, 205);
    margin: 0 40px;
}

.root >*, .nav >*{
    width: 100%;
    font-size: 20px;
    color: black;
    font-family: 'Poppins';
    line-height: 30px;
    
}

.media{
    padding: 40px;
    flex-wrap: nowrap;
}

.media a {
    padding: 0 10px;
}

.registry {
    width: max-content;
    text-align: center;
    padding-right: 40px;
    padding-top: 40px;
}

.rights {
    text-align: center;
    font-size: 25px;

}

@media (min-width: 1000px) {
    .media{
        flex-basis: 33%;
    }
}